* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    font-family: 'Montserrat', sans-serif;
}

.area-login {
    display: flex;
    width: auto;
    height: 70vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

main {
    padding: 30px;
}

.login {
    background-color: rgb(255, 255, 255);
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 550px;
    padding: 25px 10px 10px 10px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    margin-top: 20px;
    border: 1px solid black;
    border-color: #9b9797;
    outline: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    padding: 6px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.418);
}

form [type="submit"] {
    color: white;
    font-size: 18px;
    display: block;
    background-color: #ff7900;
    text-transform: uppercase;
    cursor:  pointer;
    border-color: #ff7900;
    text-align: center;
}

.login > h1 {
    text-align: center;
}

.login  a {
    text-align: end;
    justify-content: end;
    color: #ff7900;
    text-decoration: underline;
}

.login p {
    text-align: center;
    padding: 10px;
}

.cadastro-btn {
    width: 100%;
    border: 1px solid #ff7900;
    padding: 12px;
    margin-top: 10px;
}

.cadastro-btn-externo {
    background-color: transparent;
    width: 100%;
    border: none ;
    padding: 12px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  right:  0;
  padding: 10px; /* Espaçamento interno do rodapé */
}